NEXT_PUBLIC_SUPABASE_URL=https://sduorxlifrpswjnrfisp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkdW9yeGxpZnJwc3dqbnJmaXNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMxNTAxNDksImV4cCI6MjA3ODcyNjE0OX0.LKger3etnxF_lqkw28CdoSmDKwZ2pce9Fcq-AZQcOHs